
/* 1.2 Spacer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.c-spacer-1,
.c-spacer-2,
.c-spacer-3,
.c-spacer-4,
.c-spacer-5,
.c-spacer-10,
.c-spacer-15,
.c-spacer-20,
.c-spacer-30,
.c-spacer-40,
.c-spacer-50,
.c-spacer-60,
.c-spacer-70,
.c-spacer-80,
.c-spacer-90,
.c-spacer-100 {
    display: block;
    clear: both;
    overflow: hidden;
}
.c-spacer-1 {
    height: 1px
}
.c-spacer-2 {
    height: 2px
}
.c-spacer-3 {
    height: 3px
}
.c-spacer-4 {
    height: 4px
}
.c-spacer-5 {
    height: 5px
}
.c-spacer-10 {
    height: 10px
}
.c-spacer-15 {
    height: 15px
}
.c-spacer-20 {
    height: 20px
}
.c-spacer-30 {
    height: 30px
}
.c-spacer-40 {
    height: 40px
}
.c-spacer-50 {
    height: 50px
}
.c-spacer-60 {
    height: 60px
}
.c-spacer-70 {
    height: 70px
}
.c-spacer-80 {
    height: 80px
}
.c-spacer-90 {
    height: 90px
}
.c-spacer-100 {
    height: 100px
}/* Write your custom CSS here */