/*------------------------------------------------------------------

[Table of contents]

1. Base / Typography / Body / Links forms
2. Wordpress Core
3. Header
4. Menu SF / Menu Customize / Mega Menu / Mobile Menu
5. Page Title / Widgets
6. Footer / Footer Widget
7. Blog Single / Post Share / Social Icons / jp Player / Comments
8. Elements / Button / Label / Dropcaps
9. Error 404
10. Scroll Up Style / BG Video
11. Blog
        Thumb Hover
        Blog Styles
        Grid Blog
        Post Formats
        Pagination
12. PrettyPhoto
        
-------------------------------------------------------------------*/
/* Theme Waves Theme Styling Start */

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
/* ------------ BASE ------------- */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
::selection {
    background: #e2c578;
    color: #ffffff;
}
::-moz-selection {
    background: #e2c578;
    color: #ffffff;
}
/* Typography */

body {
    overflow-x: hidden;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    background: #ffffff;
    font-family: 'Droid Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #151515;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.entry-title,
blockquote {
    font-family: Playfair Display, "Helvetica Neue", Helvetica, sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
    color: inherit;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
small {
    font-size: 80%;
}
hr {
    clear: both;
    margin: 10px 0 30px;
    height: 0;
    border: solid #ddd;
    border-width: 1px 0 0;
}
pre {
    overflow-x: auto;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    height: auto;
    border: 1px solid #e2e2e2;
    background: #f7f7f7;
    font-family: Consolas, monospace;
}
q {
    display: block;
}
dt {
    font-weight: 700;
}
dl dd {
    margin-left: 15px;
    margin-bottom: 10px;
}
/* 02. Links and Form */

a {
    outline: 0;
    color: #808080;
    text-decoration: none;
    transition: color 0.4s ease-out;
}
a:hover,
a:focus {
    outline: 0;
    color: #151515;
    text-decoration: none;
}
p {
    margin: 0 0 20px;
}
embed,
img {
    max-width: 100%;
    height: auto;
    border: none;
}
iframe {
    width: 100%;
    max-width: 100%;
    border: none;
}
ul,
ol {
    margin-bottom: 20px;
}
ul {
    list-style: none outside;
}
ol,
ul {
    margin-left: 10px;
}
ol {
    list-style: decimal;
}
ul {
    list-style: square outside;
}
ul li ul,
ol li ul,
ol li ul,
ol li ol {
    margin-bottom: 0;
    margin-left: 5px;
}
ul li,
ol li {
    padding: 5px 0;
}
form,
fieldset {
    margin-bottom: 20px;
}
input,
input[type="tel"],
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    resize: none;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 230px;
    outline: none;
    font-weight: 400;
    line-height: 1;
    background-color: #fff;
    border: solid 1px #e6e6e6;
}
textarea {
    width: 100%;
    line-height: 1.4;
}
select {
    padding: 5px;
    width: 220px;
    height: 40px;
}
label,
legend {
    display: block;
    cursor: pointer;
}
label span,
legend span {
    font-weight: bold;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: 1px solid #e6e6e6;
    background: #fff;
    display: inline-block;
    padding: 10px 27px;
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.4s ease-out;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #fff;
    background: #151515;
    border-color: #151515;
}
textarea:focus,
input:focus {
    border-color: #151515;
}
::-webkit-input-placeholder {
    color: #999;
    line-height: 1.7;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #999;
    line-height: 1.7;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #999;
    line-height: 1.7;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
:-ms-input-placeholder {
    color: #999;
    line-height: 1.7;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
/* ------------ Table Styling --------------- */

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
}
td,
th {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding: 12px 20px;
}
tbody tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}
th {
    font-weight: bold;
}
/* ------------ Wordpress Core ------------- */

.alignnone {
    margin: 5px 20px 10px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 10px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 10px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 10px 20px;
}
a img.alignnone {
    margin: 5px 20px 10px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 10px 0;
}
a img.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.wp-caption {
    max-width: 100%;
    /* Image does not overflow the content area */
    
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    border: 0 none;
}
.wp-caption p.wp-caption-text {
    margin: 12px 0 25px;
    font-size: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #999;
}
/* WP Default Gallery */

.gallery {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 -10px;
}
.gallery .gallery-row {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0;
}
.gallery .gallery-item {
    overflow: hidden;
    float: left;
    text-align: center;
    list-style: none;
    padding: 0;
    background: #fff;
    padding: 10px;
    margin: 0;
}
.gallery .gallery-item .gallery-icon {
    background: #f5f5f5;
}
.gallery .gallery-item a {
    display: block;
    position: relative;
}
.gallery .gallery-item a:hover .image-overlay {
    opacity: 0.3;
}
.gallery .gallery-item img,
.gallery .gallery-item img.thumbnail {
    margin: 0;
}
.gallery-caption {
    margin: 0;
    padding: 5px;
    background: #ebebeb;
    font-style: italic;
    font-family: arial;
}
.gallery.gallery-columns-1 .gallery-item {
    width: 100%;
}
.gallery.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery.gallery-columns-3 .gallery-item {
    width: 33.3%;
}
.gallery.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery.gallery-columns-6 .gallery-item {
    width: 16.6%;
}
/* calendar widget */

#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    text-align: right;
    color: #333;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#wp-calendar thead {
    font-size: 10px;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar thead th,
#wp-calendar tbody td {
    text-align: center;
    padding: 8px;
}
#wp-calendar tbody td:hover {
    background: #fff;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
}
#wp-calendar tfoot #prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}
/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
.bypostauthor {}
/* ------------------ GLOBAL CLASS ------------------------ */
/* Waves Middle */

.tw-middle:before {
    content: "";
    height: 100%;
    min-height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.tw-middle>* {
    vertical-align: middle;
    display: inline-block;
}
/* ------------- Logo ---------------- */

.tw-logo {
    text-align: center;
    padding: 57px 0;
    border-bottom: 1px solid #e6e6e6;
}
h1.site-name {
    line-height: 1;
    margin-bottom: 0;
}
/* ------------ Menu SF Essentials ------------- */

.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu li {
    display: block;
    position: relative;
}
.sf-menu ul {
    font-size: 10px;
    position: absolute;
    background: rgba(21, 21, 21, .98);
    color: #999;
    min-width: 210px;
    top: 100%;
    left: 0;
    text-align: left;
    z-index: 99;
    display: none;
}
.sf-menu > li {
    display: inline-block;
    margin: 0 18px;
}
.sf-menu > li:first-child {
    margin-left: 0;
}
.sf-menu > li > a {
    display: block;
    line-height: 50px;
}
.sf-menu > li > a:hover {
    color: #999;
}
.sf-menu a {
    color: inherit;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    z-index: 9999;
    display: block;
}
.sf-menu ul ul {
    top: -1px;
    left: 100% !important;
}
.page_item > ul.children li > a,
.sub-menu li > a {
    display: block;
    padding: 10px 22px;
    border-bottom: 1px solid rgba(255, 255, 255, .13);
    transition: all 0.4s ease-out;
}
.page_item > ul.children li > a:hover,
.sub-menu li > a:hover {
    background: rgba(255, 255, 255, .13);
    color: #fff;
}
.page_item > ul.children li:last-child > a,
.sub-menu li:last-child > a {
    border-bottom: none;
}
/* Menu Arrow Class */

.sf-menu > .menu-item-has-children > a {
    padding-right: 9px;
}
.sf-mobile-menu > .menu-item-has-children:before,
.sf-menu > .menu-item-has-children:after {
    position: absolute;
    right: -7px;
    top: 50%;
    margin-top: -6px;
    content: "\f3d0";
    font-family: 'Ionicons';
    font-size: 12px;
    line-height: 1;
    color: #999;
}
.sf-mobile-menu > .menu-item-has-children:before {
    top: 20px;
    right: 20px;
    z-index: -1;
}
/* Tw Menu */

.header-area {
    position: relative;
}
.tw-menu-container {
    background: #151515;
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
}
.header-small .tw-menu-container {
    position: fixed;
}
.admin-bar.header-small .tw-menu-container {
    top: 32px;
}
@media screen and (max-width: 782px) {
    .admin-bar.header-small .tw-menu-container {
        top: 46px;
    }
}
.tw-menu .sf-menu {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 10px;
    color: #fff;
}
.header-clone {
    height: 50px;
    width: 100%;
}
/* ------------ mobile menu --------------- */

.mobile-menu-icon {
    cursor: pointer;
    float: left;
    padding: 10px;
    height: 36px;
    margin-top: 7px;
    display: none;
}
.mobile-menu-icon span,
.mobile-menu-icon span:before,
.mobile-menu-icon span:after {
    position: relative;
    top: 4px;
    width: 14px;
    height: 1px;
    background: #696969;
    display: block;
    margin-bottom: -1px;
    content: '';
}
.mobile-menu-icon span:before,
.mobile-menu-icon.active span:before,
.mobile-menu-icon.active span:after {
    top: 4px;
}
.mobile-menu-icon span:after {
    top: 8px;
}
.mobile-menu-icon span,
.mobile-menu-icon span:before,
.mobile-menu-icon span:after {
    transition: all 200ms ease-in-out;
}
.mobile-menu-icon.active span {
    background-color: transparent;
}
.mobile-menu-icon.active span:before {
    transform: rotate(45deg);
}
.mobile-menu-icon.active span:after {
    transform: rotate(-45deg);
}
.tw-mobile-menu>nav ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.tw-mobile-menu>nav ul.sub-menu {
    display: none;
    text-align: right;
}
.tw-mobile-menu>nav ul li {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #333333;
}
.tw-mobile-menu>nav ul li ul li {
    border-bottom: 0;
}
.tw-mobile-menu>nav ul li ul li:first-child {
    border-top: 1px solid #333;
}
.tw-mobile-menu>nav ul li a {
    display: block;
    color: #999;
    font-size: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.tw-mobile-menu>nav ul li.menu-open > a,
.tw-mobile-menu>nav ul li a:hover {
    background: rgba(255, 255, 255, .2);
    color: #fff;
}
.tw-mobile-menu {
    left: -400px;
    overflow-y: auto;
    background-color: #151515;
    padding: 60px 0;
    position: fixed;
    height: 100%;
    width: 320px;
    z-index: 1000;
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
    -ms-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
}
.tw-mobile-menu.right-side {
    left: auto;
    right: -400px;
    -webkit-transition: right 0.4s ease;
    -moz-transition: right 0.4s ease;
    -ms-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    transition: right 0.4s ease;
}
.tw-mobile-menu>i {
    font-size: 24px;
    cursor: pointer;
    float: right;
    margin-top: -50px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: -11px;
}
/* Header Search */

.tw-menu {
    position: relative;
    padding-right: 110px;
}
.searchform.on-menu input,
.searchform.on-menu {
    transition: all 0.4s ease-out;
}
.searchform.on-menu {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #151515;
}
.searchform.on-menu i {
    padding: 10px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -19px;
    left: 8px;
    font-size: 12px;
    color: #999;
}
.searchform.on-menu input {
    padding: 0;
    padding-left: 40px;
    height: 50px;
    width: 100px;
    border: none;
    color: #fff;
    background: none;
}
.searchform.on-menu::-webkit-input-placeholder {
    color: #fff;
}
.searchform.on-menu::-moz-placeholder {
    color: #fff;
    line-height: 60px;
}
.search-opened .searchform.on-menu::-moz-placeholder {
    color: #151515;
}
.search-opened .searchform.on-menu::-webkit-input-placeholder {
    color: #151515;
}
.search-opened .searchform.on-menu {
    background: #e6e6e6
}
.search-opened .searchform.on-menu input {
    width: 245px;
    color: #151515;
}
/* Header 2 */

.header-2 .tw-logo {
    padding: 0;
    float: left;
    border-bottom: 0;
    padding-right: 40px;
    line-height: 60px;
}
.header-2 .tw-logo img {
    max-height: 50px;
}
.header-2 .searchform.on-menu input,
.header-2 .tw-menu-container,
.header-2 .header-clone {
    height: 60px;
}
.header-2 .tw-menu .sf-menu {
    float: left;
}
.header-2 .sf-menu > li {
    margin: 0 13px;
}
.header-2 .sf-menu > li > a {
    line-height: 60px;
}
.header-2 .social-icons {
    float: right;
    line-height: 60px;
    padding-right: 10px;
    font-size: 12px;
}
.header-2 .social-icons a {
    padding: 6px;
    color: #999;
}
.header-2 .social-icons a:hover {
    color: #fff;
}
.header-2 + .feature-area .grid-posts,
.header-3 + .feature-area .grid-posts,
.header-2 + .feature-area .feature-title,
.header-3 + .feature-area .feature-title {
    margin-top: 40px;
}
/* Header 3 */

body:not(.header-small) .header-3 .tw-menu-container {
    top: auto;
}
.header-3 .tw-logo,
.header-3 .header-ads {
    line-height: 90px;
    border-bottom: 0;
    padding: 0;
    text-align: left;
}
.header-3>.container {
    margin-bottom: 30px;
}
.header-3 .top-bar {
    line-height: 50px;
}
.header-3 .social-icons {
    text-align: right;
}
.header-3 .social-icons a {
    margin: 0 6px;
}
.top-bar .sf-menu a {
    font-size: 12px;
    display: inline-block;
}
.top-bar .sf-menu li {
    margin: 0;
}
.top-bar .sf-menu > li:after {
    content: '/';
    padding: 0 6px 0 10px;
}
.top-bar .sf-menu > li:last-child:after {
    display: none;
}
/* Main Container */

.lovely-container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.sidebar-area.col-md-4 .sidebar-inner {
    padding-left: 20px;
}
/* --------------------- Featured Area --------------------- */

.feature-area {
    margin-top: -1px;
    background: #fff;
    position: relative;
}
.feature-area .container:not(.tw-middle)>div {
    padding-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
}
.feature-post img {
    margin-bottom: 40px;
}
.feature-post .entry-content {
    max-width: 640px;
    margin: 0 auto;
}
.feature-post .entry-title {
    font-size: 36px;
    line-height: 1;
    padding-top: 1px;
    margin-bottom: 19px;
}
.feature-post .entry-date {
    margin: 0 auto 29px;
}
.feature-post .more-link {
    padding: 10px 0;
}
/* Fancy posts */

.feature-posts {
    position: relative;
    height: 530px;
    background-color: #000;
}
.feature-posts .post-item {
    height: 33.3%;
    border-bottom: 1px solid rgba(255, 255, 255, .35);
}
.feature-posts .post-item:last-child {
    border-bottom: none;
}
.feature-posts .post-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: right;
}
.feature-posts .post-content .container {
    height: 100%;
}
.feature-posts .entry-content {
    width: 260px;
    padding: 0 30px;
    position: relative;
    transition: padding 0.2s ease-in-out;
}
.feature-posts .entry-title {
    text-align: left;
    line-height: 29px;
    margin: 20px 0;
    color: #fff;
    opacity: 0.5;
}
.feature-posts .entry-title a:hover {
    color: #fff;
    opacity: 0.9;
}
.feature-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.feature-posts .more-link {
    position: absolute;
    bottom: -50px;
    opacity: 0;
    transition: bottom 0.2s ease-in-out;
}
.feature-posts .entry-content .more-link a {
    border-color: #fff;
    color: #fff;
}
.feature-posts .entry-content .more-link a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #151515;
}
.feature-posts .post-item.active .feature-bg {
    opacity: 0.8;
}
.feature-posts .post-item:hover .entry-title {
    opacity: 1;
}
.feature-posts .post-item:hover .more-link {
    bottom: 20px;
    opacity: 1;
}
.feature-posts .post-item:hover .entry-content {
    padding-bottom: 44px;
}
/* Grid posts */

.feature-area .grid-item .entry-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.grid-item .grid-thumb {
    margin: 0 auto;
    background: #e6e6e6;
    width: 220px;
    height: 140px;
}
.grid-item .grid-thumb a {
    background: #000;
    display: block;
}
.grid-item .grid-thumb img {
    transition: all 0.4s ease-out;
}
.grid-item .grid-thumb a:hover img {
    opacity: 0.7;
}
.grid-posts .entry-date {
    display: block;
    margin: 0 auto;
}
.feature-area .grid-content {
    padding: 20px 0 37px;
}
.grid-posts .feature-item {
    position: relative;
}
.grid-posts .feature-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.grid-posts .entry-content {
    margin: 20px;
    padding: 40px 30px;
    background: rgba(0, 0, 0, .5);
    transition: all 0.4s ease-out;
}
.grid-posts .entry-content:hover {
    background: rgba(0, 0, 0, .75);
}
.grid-posts .feature-item .entry-title {
    color: #fff;
    line-height: 1.2;
    padding: 2px 0 3px;
}
.grid-posts .feature-item .entry-title a:hover,
.grid-posts .feature-item .entry-cats {
    color: #999;
}
.feature-area div.feature-title {
    padding: 33px 30px 25px;
    border: 1px solid #e6e6e6;
    text-align: center;
    line-height: 1;
}
.feature-title h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
}
/* -------------------- Blog Layout ----------------- */

.content-area.default-page,
.content-area.grid,
.content-area.list,
.content-area.oppo,
.content-area.simple {
    max-width: 640px;
    float: none;
    margin: 0 auto;
}
/* ----------------------- Blog -------------------- */

.entry-post {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
}
/* Sticky */

.sticky .entry-post {
    padding: 40px;
    border: 1px solid #e6e6e6;
}
.entry-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.entry-title a:hover {
    color: #999;
}
.entry-cats {
    text-align: center;
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 13px;
    color: #151515;
}
.entry-cats:empty {
    display: none;
}
.entry-cats a {
    color: inherit;
}
.entry-cats > span:last-child {
    display: none;
}
.entry-date {
    text-align: center;
    margin-bottom: 27px;
    line-height: 1.2;
}
.entry-author a {
    color: inherit;
}
.entry-author a:hover {
    color: #151515;
}
.tw-meta,
.widget ul li {
    color: #999;
    font-size: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.page-content > p a,
.entry-content > p:not(.more-link) a {
    color: #151515;
    text-decoration: underline;
}
.page-content > p a:hover,
.entry-content > p:not(.more-link) a:hover {
    color: #999;
    text-decoration: none;
}
.entry-content p:last-child:not(.wp-caption-text) {
    margin-bottom: 0;
}
.entry-content p.more-link {
    text-align: center;
    margin-top: 23px;
}
.tw-pagination a,
.entry-content .more-link a {
    position: relative;
    color: #666;
    border: 1px solid #d9d9d9;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 15px;
    transition: background 0.4s, border 0.4s ease-out;
}
.tw-pagination a:hover,
.entry-content .more-link a:hover {
    color: #fff;
    background: #151515;
    border-color: #151515;
}
.page-content .tw-contact > div {
    position: relative;
    padding-left: 37px;
    margin-bottom: 30px;
}
.tw-contact i {
    font-size: 20px;
    position: absolute;
    left: 10px;
    line-height: 1.2;
}
/* Button Hover Effect */

.tw-hover a span {
    position: relative;
    left: 0px;
    transition: all 0.2s ease-out;
}
.tw-hover a:hover span {
    left: -6px;
}
.tw-hover a i {
    font-size: 12px;
    line-height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -9px;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    transition: all 0.2s ease-out;
}
.tw-hover a:hover i {
    opacity: 1!important;
    -ms-filter: "alpha(opacity=100)";
    right: 10px;
}
.tw-hover .older a:hover i {
    right: 6px;
}
.tw-hover .newer a span {
    left: auto;
    right: 0;
}
.tw-hover .newer a:hover span {
    right: -6px;
}
.tw-hover .newer a i {
    right: auto;
    left: 22px;
}
.tw-hover .newer a:hover i {
    left: 15px;
}
.entry-media {
    margin-bottom: 23px;
    position: relative;
}
.image-overlay,
.image-overlay a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-overlay {
    background: #000;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.image-overlay:hover {
    opacity: 0.3;
}
.entry-share {
    margin-top: 30px;
}
.entry-share > a {
    display: inline-block;
}
.entry-share span {
    font-size: 10px;
    color: #999;
    margin-left: 5px;
    margin-right: 15px;
    text-transform: uppercase;
    transition: color 0.4s ease-out;
}
.entry-share > a:hover span {
    color: #151515;
}
.entry-share .comment-count span {
    margin-right: 0;
}
.entry-share .comment-count {
    float: right;
}
.entry-share i {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    background: #ccc;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.4s ease-out;
}
.entry-share .active a i,
.entry-share a:hover i {
    background: #151515;
    border-color: #151515;
    color: #fff;
}
.entry-share .active a i.ion-social-facebook,
.entry-share a:hover i.ion-social-facebook,
div.entry-share a.social-facebook:hover {
    background: #39579a;
    border-color: #39579a;
}
.entry-share .active a i.ion-social-twitter,
.entry-share a:hover i.ion-social-twitter,
div.entry-share a.social-twitter:hover {
    background: #01acee;
    border-color: #01acee;
}
.entry-share .active a i.ion-social-pinterest,
.entry-share a:hover i.ion-social-pinterest,
div.entry-share a.social-pinterest:hover {
    background: #ce2225;
    border-color: #ce2225;
}
.entry-share .active a i.ion-social-linkedin,
.entry-share a:hover i.ion-social-linkedin,
div.entry-share a.social-linkedin:hover {
    background: #0077b5;
    border-color: #0077b5;
}
.entry-share .active a i.ion-social-googleplus,
.entry-share a:hover i.ion-social-googleplus,
div.entry-share a.social-googleplus:hover {
    background: #f9402c;
    border-color: #f9402c;
}
.entry-share .active a i.ion-social-instagram,
.entry-share a:hover i.ion-social-instagram,
div.entry-share a.social-instagram:hover {
    background: #245a84;
    border-color: #245a84;
}
.entry-share .active a i.ion-social-youtube,
.entry-share a:hover i.ion-social-youtube,
div.entry-share a.social-youtube:hover {
    background: #cc1212;
    border-color: #cc1212;
}
.entry-share .active a i.ion-social-android,
.entry-share a:hover i.ion-social-android,
div.entry-share a.social-android:hover {
    background: #689f38;
    border-color: #689f38;
}
.entry-share .active a i.ion-social-apple,
.entry-share a:hover i.ion-social-apple,
div.entry-share a.social-apple:hover {
    background: #000;
    border-color: #000;
}
.entry-share .active a i.ion-social-windows,
.entry-share a:hover i.ion-social-windows,
div.entry-share a.ion-social-windows:hover {
    background: #000;
    border-color: #000;
}
/* Grid Blog */

.grid-blog {
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e6e6e6;
}
.grid-blog .entry-date {
    text-align: left;
    margin-top: -5px;
}
.grid-blog .entry-cats {
    padding: 7px 0 5px;
}
.grid-blog .entry-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 18px;
}
.blog-divider {
    border-bottom: 1px solid #e6e6e6;
    clear: left;
    margin: 0 10px 40px;
    padding-top: 10px;
}
.blog-divider:last-child {
    display: none;
}
/* List Blog */

.list-blog .entry-post {
    padding-top: 2px;
    padding-left: 240px;
    position: relative;
}
.list-blog .entry-post.no-media {
    padding-left: 0;
}
.list-blog .entry-media {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
}
.list-blog .entry-title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}
.list-blog .entry-cats {
    text-align: left;
    margin-bottom: 16px;
}
.list-blog .entry-date {
    text-align: left;
    margin-bottom: 0;
}
.list-blog .entry-content p {
    margin-bottom: 15px;
}
/* Opposite Blog */

.oppo-blog {
    border-bottom: 1px solid #e6e6e6;
}
.oppo-blog article:not(.sticky) .entry-post {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 0;
    padding-bottom: 0;
}
.entry-media .tw-thumbnail {
    position: relative;
    overflow: hidden;
}
.tw-thumbnail img {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.tw-thumbnail:hover img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
.oppo-blog .entry-media,
.oppo-blog .entry-content {
    width: 50%;
    margin-bottom: 0;
    text-align: center;
}
.oppo-blog .entry-media:first-child {
    padding-right: 10px;
}
.oppo-blog .entry-media:last-child {
    padding-left: 10px;
}
.oppo-blog .entry-content {
    padding: 0 30px;
}
.oppo-blog .entry-title {
    font-size: 18px;
}
.oppo-blog .entry-cats {
    margin-bottom: 16px;
}
.oppo-blog .entry-date {
    margin-bottom: 13px;
    line-height: 13px;
}
.oppo-blog + .tw-pagination,
.theme-layout > .oppo-full {
    padding-top: 40px;
}
.theme-layout > .oppo-full .tw-pagination {
    display: none;
}
.oppo-full .entry-content {
    padding: 0 50px;
}
.oppo-full .entry-title {
    font-size: 36px;
    line-height: 42px;
}
.oppo-full .entry-cats {
    margin-bottom: 11px;
}
.oppo-full .entry-date {
    margin-bottom: 29px;
}
.oppo-full .entry-content p.more-link {
    margin-top: 33px;
}
.oppo-full .entry-share .comment-count {
    float: none;
}
.oppo-full .entry-share {
    margin-top: 40px;
}
/* -------------- Blog Pagination -------------- */

.tw-pagination {
    margin-bottom: 40px;
}
.tw-pagination .older {
    float: right;
}
.tw-pagination .newer {
    float: left;
}
/* --------------- Single Post ----------------- */

article.single,
.related-posts {
    padding-bottom: 30px;
    margin-bottom: 45px;
    border-bottom: 1px solid #e6e6e6;
}
blockquote {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #151515;
    text-align: center;
    position: relative;
    margin: 30px 45px;
    padding: 0 25px;
}
blockquote:before,
blockquote:after {
    color: #e5e5e5;
    font-size: 50px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    content: '“';
}
blockquote:after {
    content: '”';
    left: auto;
    right: 0;
}
.entry-tags {
    font-size: 10px;
    color: #999;
    margin: 10px 0;
    padding: 3px 0 0 45px;
    position: relative;
}
.entry-tags h5 {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-bottom: 0;
}
.entry-tags a {
    margin-left: 13px;
    color: inherit;
    display: inline-block;
}
.entry-tags a:not(:last-child):after {
    content: ',';
}
.entry-tags a:hover {
    color: #151515;
}
.entry-tags a:before {
    font-family: 'Ionicons';
    content: '\f48c';
    margin-right: 6px;
}
article.single .entry-share {
    margin: 30px 0 5px;
}
/* Audio Player Style */

article.hentry .mejs-container .mejs-controls {
    height: 35px;
    padding: 0 10px;
}
article.format-audio .entry-media .mejs-container {
    height: 40px !important;
}
/* ----------------- Default Page ---------------- */

.page-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 36px;
}
article.page .entry-media {
    margin-bottom: 30px;
}
.page-content {
    padding-bottom: 30px;
    margin-bottom: 45px;
}
/* ----------------- Error 404 page ---------------- */

.error-404.entry-content {
    padding: 120px 0;
}
.error-404 > span {
    display: block;
    color: #151515;
    font-size: 24px;
    text-align: center;
    line-height: 1;
}
.error-404 .error-title {
    text-transform: uppercase;
    font-size: 120px;
}
.error-404.entry-content .more-link a {
    margin-top: 30px;
    padding: 5px 30px;
}
/* ------------------ Search Result -------------- */

.search-result h3 {
    margin-bottom: 30px;
}
.search-result form.searchform {
    margin-bottom: 8px;
}
/* ---------------- Post Author ----------------- */

.tw-author {
    padding: 30px;
    border: 1px solid #e6e6e6;
    margin-bottom: 45px;
}
.tw-author .author-box {
    position: relative;
    padding-left: 140px;
    min-height: 120px;
}
.tw-author p {
    margin-bottom: 0;
}
.tw-author h3 {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
}
.tw-author h3 a:hover {
    color: #999;
}
.tw-author img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    margin: 0;
}
.tw-author .entry-share {
    margin-top: 10px;
}
/* -------------- Next Preview Posts ------------ */

.nextprev-postlink {
    margin-bottom: 45px;
}
.nextprev-postlink a {
    display: inline-block;
    position: relative;
    padding-left: 80px;
    min-height: 60px;
    text-transform: uppercase;
}
.nextprev-postlink h4 {
    font-size: 14px;
    line-height: 1.2;
    margin: 3px 0 4px;
    transition: all 0.4s ease-out;
}
.nextprev-postlink .post-thumb {
    width: 70px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}
.nextprev-postlink .post-thumb:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.nextprev-postlink .post-thumb.format-icon {
    background-color: #ccc;
    color: #fff;
}
.nextprev-postlink .post-thumb > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.nextprev-postlink .prev-post-link {
    padding-right: 50px;
}
.nextprev-postlink .next-post-link {
    text-align: right;
    padding-left: 50px;
}
.nextprev-postlink .next-post-link a {
    padding-left: 0;
    padding-right: 80px;
}
.nextprev-postlink .next-post-link .post-thumb {
    left: auto;
    right: 0;
}
.prev-post-link i {
    margin-right: 4px;
}
.next-post-link i {
    margin-left: 4px;
}
.nextprev-postlink a:hover h4 {
    color: #999;
}
.nextprev-postlink a:hover .post-thumb:before {
    opacity: 0.3;
}
/* --------------- Related Posts ---------------- */

.related-item h3 {
    font-size: 14px;
    margin-bottom: 0;
}
.related-item .entry-media {
    margin-bottom: 0;
    margin-top: 20px;
}
.related-item .format-icon {
    max-width: 100%;
    height: 155px;
}
/* ---------------- Post Comments -------------- */

.related-posts h4,
.comment-title h4,
.comment-respond h3 {
    margin-bottom: 35px;
    line-height: 1;
    text-transform: uppercase;
}
.comment-title,
.comment-respond,
.related-posts {
    text-align: center;
}
.comment-list .comment {
    position: relative;
}
.comment-list .comment .comment {
    margin-left: 70px;
}
.comment-author {
    position: absolute;
    left: 0;
    top: 40px;
}
.comment-author img {
    border-radius: 50%;
}
.comment-text {
    margin-bottom: 40px;
    padding-top: 40px;
    padding-left: 80px;
    min-height: 60px;
    border-top: 1px solid #e6e6e6;
}
.comment-text p {
    margin-bottom: 5px;
}
.comment-text .author {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    margin-right: 20px;
    margin-bottom: 10px;
}
.comment-text p.reply {
    margin-bottom: 0;
    font-size: 10px;
}
/* ---------------- Comment Form --------------- */

.comment-form input[type="text"] {
    width: 100%;
    margin-bottom: 0;
}
.comment-form input[type="submit"] {
    width: 150px;
}
/* ----------------- Sidebar Widget ----------------- */

.sidebar-area aside.widget {
    margin-top: 6px;
    margin-bottom: 46px;
    border: 1px solid #e6e6e6;
    padding: 30px;
}
.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget ul li {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
aside.widget ul li a {
    color: #151515;
}
aside.widget ul li a:hover {
    opacity: 0.8;
}
aside.widget ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
/* ------------------ Popular posts -------------- */

.tw-popular-posts {
    padding: 40px 0;
}
.popular-thumb {
    position: relative;
}
.popular-thumb.no-thumb {
    background: #e6e6e6;
    height: 200px;
}
.popular-thumb img {
    display: block;
}
.popular-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    text-align: center;
    padding: 20px 40px;
    opacity: 0;
    transition: all 0.4s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-thumb.no-thumb .popular-content {
    opacity: 1;
    background: none;
}
.popular-thumb:hover .popular-content,
.popular-thumb:hover .entry-content > a {
    opacity: 1;
}
.popular-content .entry-title {
    font-size: 16px;
    margin-bottom: 2px;
    color: #151515;
}
.popular-content .entry-title a:hover {
    color: #151515;
}
.popular-item.col-md-4 .entry-content {
    padding-top: 22px;
}
.popular-content .entry-content > a {
    display: block;
    width: 24px;
    line-height: 24px;
    margin: 8px auto 0;
    background: #151515;
    color: #fff;
    border-radius: 50%;
    transition: background 0.4s ease-out, opacity 0.7s ease-out;
    opacity: 0;
}
.popular-content .entry-content > a:hover {
    background: #999;
}
/* layout 4 columns */

.popular-item.col-md-3 .popular-thumb.no-thumb {
    height: 147px;
}
.popular-thumb > a {
    display: block;
    position: relative;
}
.popular-thumb > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    transition: all 0.4s ease;
}
.popular-thumb > a:hover:before {
    opacity: 0.3;
}
.tw-popular-posts:not(.latest-video-posts) .popular-item.col-md-3 .popular-content {
    position: static;
    opacity: 1;
    padding: 20px 0 0;
}
.tw-popular-posts:not(.latest-video-posts) .popular-item.col-md-3 .entry-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 5px;
}
/* Recent video posts */

.latest-video-posts.tw-popular-posts {
    border-bottom: 1px solid #e6e6e6;
}
.latest-video-posts .popular-thumb > a {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    bottom: 30px;
    left: 30px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .35);
    color: #fff;
    z-index: 1;
    overflow: hidden;
    transition: background 0.4s ease-in-out;
}
.latest-video-posts .popular-thumb:hover > a {
    background: rgba(0, 0, 0, .35);
}
.latest-video-posts .popular-item.col-md-3 .popular-thumb.no-thumb {
    height: 279px;
}
/* ------------------ Widget Title -------------- */

h3.widget-title {
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
}
.sidebar-area aside.widget > *:not(.h3.widget-title):first-child {
    margin-top: -6px;
}
.sidebar-area h3.widget-title {
    margin-top: -40px;
    margin-bottom: 30px;
}
.sidebar-area h3.widget-title span {
    padding: 0 15px;
    background: #fff;
}
/* ------------- Widget Waves Text ---------- */

aside.widget_search > h3.widget-title + *,
aside.tw-text-widget > h3.widget-title + * {
    margin: -38px -31px -31px -31px;
}
aside.null-instagram-feed > h3.widget-title + * {
    margin: -38px -41px -41px -31px;
}
aside.widget_search > *:first-child:not(.widget-title),
aside.tw-text-widget > *:first-child:not(.widget-title) {
    margin: -37px -31px -31px -31px;
}
aside.null-instagram-feed > *:first-child:not(.widget-title) {
    margin: -37px -41px -41px -31px;
}
aside.widget_search > h3.widget-title + *,
aside.null-instagram-feed > h3.widget-title + *,
aside.tw-text-widget > h3.widget-title + * {
    padding-top: 26px;
    background: #fff;
}
/* --------------- Widget Search ------------ */

.sidebar-area aside.widget_search {
    padding-bottom: 6px;
}
form.searchform {
    position: relative;
    margin-bottom: 0;
}
form.searchform input {
    padding: 14px 46px 12px 20px;
    margin-bottom: 0;
    width: 100%;
}
form.searchform .button-search {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 10px 0;
    color: #949494;
    background: none;
    border-left: 1px solid #e6e6e6;
    border-radius: 0;
    width: 46px;
    height: 100%;
    text-align: center;
    font-size: 14px;
}
/* ----------------- Widget Instagram --------------- */

ul.instagram-pics {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
}
aside.widget ul.instagram-pics.owl-carousel {
    background: none;
}
aside.widget .instagram-pics:not(.owl-carousel) li {
    margin: 0 10px 10px 0;
    width: 29.8%;
}
.null-instagram-feed p.clear {
    display: none;
}
.widget .instagram-pics li {
    border: none;
    float: left;
    padding: 0;
}
.instagram-pics li a {
    display: block;
    position: relative;
}
.instagram-pics li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.instagram-pics li a:hover:before {
    opacity: 0.3;
}
.bottom-area .instagram-pics li {
    width: 16.66%;
}
.bottom-area.footer-3 .instagram-pics li {
    width: 50%;
    margin: 0;
}
/* Instagram Carousel */

.sidebar-area .instagram-pics.owl-carousel {
    margin: -35px -31px -15px;
    width: calc(100% + 62px);
}
.instagram-pics.owl-theme .owl-pagination {
    position: static;
    margin-top: 22px;
}
.instagram-pics.owl-theme:first-child .owl-pagination {
    margin-bottom: 26px;
}
.instagram-pics.owl-theme .owl-controls .owl-page span {
    background: #151515;
    opacity: 0.11;
}
.instagram-pics.owl-carousel li {
    margin: 0;
    width: 100%;
}
/* ------------------- Widget Social Tabs ----------------- */

.nav,
.nav > li {
    display: inline-block;
}
.nav > li {
    position: relative;
}
.nav > li > a {
    position: relative;
    display: block;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.tab-content > div {
    height: 24px !important;
}
.tab-content > div#fb-root {
    display: none;
}
.lovely-social-tabs>ul.entry-share>li {
    border-bottom: none;
}
.lovely-social-tabs>.tab-count-6>li {
    width: 16.6%;
}
.lovely-social-tabs {
    text-align: center;
}
/* ------------------- Widget Post ----------------- */

.tw-post-widget.widget ul li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
}
.recent-thumb {
    position: absolute;
    left: 0;
    width: 70px;
    height: 60px;
    overflow: hidden;
}
.recent-thumb a {
    display: block;
    position: relative;
}
.recent-thumb a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.recent-thumb a:hover:before {
    opacity: 0.3;
}
.recent-thumb img {
    margin-top: -5px;
}
.recent-content {
    padding-left: 85px;
    min-height: 60px;
}
.recent-content h4 {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 6px;
}
aside.widget .recent-content a:hover,
.recent-thumb:hover ~ .recent-content a {
    color: #999;
}
.related-item .format-icon,
.recent-thumb .format-icon {
    background: #ccc;
    color: #fff;
    height: 60px;
    width: 100%;
    display: table;
}
.post-thumb.format-icon:before,
.related-item .format-icon:before,
.recent-thumb .format-icon:before {
    font-family: 'Ionicons';
    font-size: 21px;
    content: '\f417';
}
.related-item .format-icon:before,
.recent-thumb .format-icon:before {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.format-icon.gallery:before {
    content: '\f147';
}
.format-icon.quote:before {
    content: '\f347';
}
.format-icon.audio:before {
    content: '\f4ce';
}
.format-icon.video:before {
    content: '\f4cc';
}
.bottom-area .recent-thumb {
    display: none;
}
.bottom-area .recent-content h4 {
    color: #999;
}
.bottom-area .recent-content h4:hover a {
    color: #fff;
}
.bottom-area .recent-content {
    padding: 0;
    min-height: 0;
}
.bottom-area .widget ul li {
    border-color: #333;
}
/* --------------- Widget NewsLetter ------------- */

.sidebar-area .widget_subscribe {
    text-align: center;
    margin-bottom: 0;
}
.widget_subscribe input[type="text"] {
    background: #fafafa;
    color: #999;
    letter-spacing: 0.2em;
    font-size: 10px;
    line-height: 1.7;
    text-transform: uppercase;
    width: 100%;
}
.widget_subscribe input[type="text"]:focus {
    text-transform: none;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 17px;
}
.subscribe-paragraph,
.widget_subscribe input[type="text"] {
    margin-bottom: 8px;
}
.widget_subscribe_cont .subscribe-submit {
    margin: 8px auto 0;
    width: auto;
    border-color: #d9d9d9;
    color: #666;
}
/* --------------- Contact Form ----------------- */

.wpcf7-form {
    padding-top: 5px;
}
.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea {
    width: 100%;
    margin-top: 5px;
}
.wpcf7-form input[type="submit"] {
    width: auto;
    min-width: 150px;
    display: block;
    margin: 0 auto;
}
/* ----------------- Footer Area ---------------- */

.footer-area {
    background: #151515;
}
.footer-area a:hover {
    color: #fff;
}
.footer-area.footer-2 a:hover {
    color: #151515;
}
.footer-area .entry-share {
    margin: 20px 0;
}
.footer-area .social-item {
    float: left;
    width: 16.6%;
    margin: 10px 0;
}
.footer-area .social-item a {
    display: inline-block;
    padding-left: 35px;
    min-height: 30px;
    position: relative;
}
.footer-area .entry-share span {
    display: block;
    line-height: 1.5;
}
.footer-area .entry-share > a:hover i,
.footer-area .entry-share span:nth-child(2),
.footer-area .entry-share > a:hover span {
    color: #fff;
}
.footer-area .entry-share i {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #959595;
    background: none;
    letter-spacing: normal;
    color: #999;
}
.footer-area:not(.footer-2) .entry-share i {
    line-height: 28px;
}
.tw-footer {
    color: #999;
    font-size: 12px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, .13);
}
.copyright {
    margin: 0;
    float: left;
}
.footer-text {
    margin: 0;
    float: right;
}
/* ------------- Footer Area 2 ------------- */

.footer-area.footer-2 .entry-share {
    margin-left: -10px;
    margin-right: -10px;
}
.footer-area.footer-2 .social-item {
    padding: 0 10px;
}
.footer-area.footer-2 .entry-share span {
    line-height: 30px;
    display: inline;
    margin: 0;
}
.footer-area.footer-2 .social-item i {
    border: 0;
    position: static;
    width: auto;
    margin-right: 6px;
}
.footer-area.footer-2 {
    background: #fff;
}
.footer-area.footer-2 .footer-socials {
    background: #151515;
}
.footer-area.footer-2 .social-item a {
    display: block;
    padding: 0;
    border: 1px solid #959595;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.4s ease-out;
}
.footer-area.footer-2 .entry-share a:hover i {
    background: none;
    color: #fff;
}
.footer-area.footer-2 .tw-footer,
.footer-area.footer-3 .tw-footer {
    text-align: center;
    border: 0;
}
.footer-area.footer-2 .copyright,
.footer-area.footer-2 .footer-text,
.footer-area.footer-3 .copyright,
.footer-area.footer-3 .footer-text {
    float: none;
    display: inline-block;
}
.footer-area.footer-2 .footer-text:before,
.footer-area.footer-3 .footer-text:before {
    padding: 0 10px;
    content: '/'
}
.footer-area.footer-2 .footer-logo {
    margin: 20px 0 40px;
}
/* Footer 3 */

.bottom-area.footer-3 {
    background: #151515;
    padding: 70px 0 40px;
}
.bottom-area.footer-3 h3.widget-title {
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
}
.bottom-area.footer-3 .widget {
    padding-right: 40px;
    margin: 0 auto 30px;
    max-width: 220px;
    color: #999;
}
.footer-area.footer-3 {
    background: #000;
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */

.owl-carousel {
    margin-top: -1px;
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.feature-area .owl-controls,
.bottom-area .owl-controls {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}
.feature-area .owl-carousel:hover .owl-controls,
.bottom-area .owl-carousel:hover .owl-controls {
    visibility: visible;
    opacity: 1;
}
/* mouse grab icon */

.grabbing {
    cursor: grab;
}
/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-theme .owl-pagination {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    
    padding: 3px 10px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: 20px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
    left: auto;
    right: 20px;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    
    opacity: 1;
    text-decoration: none;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    padding: 3px;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    filter: Alpha(Opacity=60);
    /*IE7 fix*/
    
    opacity: 0.6;
    background: #fff;
    border-radius: 50%;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    
    opacity: 1;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/* preloading images */

.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.html) no-repeat center center
}
.owl-carousel .feature-item {
    position: relative;
    text-align: center;
    height: 530px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    background-position: center;
}
.owl-carousel .feature-content {
    background: #fff;
    padding: 40px;
    width: 480px;
    margin-left: -2px;
}
.owl-carousel .entry-title {
    font-size: 36px;
    line-height: 1;
}
@media (min-width: 985px) and (max-width: 1160px) {
    .owl-carousel .slide-post {
        min-width: 220px;
        width: 220px;
    }
}
@media (min-width: 1300px) and (max-width: 1560px) {
    .owl-carousel .slide-post {
        min-width: 220px;
        width: 220px;
    }
}



/* 1.2 Spacer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.c-spacer-1,
.c-spacer-2,
.c-spacer-3,
.c-spacer-4,
.c-spacer-5,
.c-spacer-10,
.c-spacer-15,
.c-spacer-20,
.c-spacer-30,
.c-spacer-40,
.c-spacer-50,
.c-spacer-60,
.c-spacer-70,
.c-spacer-80,
.c-spacer-90,
.c-spacer-100 {
    display: block;
    clear: both;
    overflow: hidden;
}
.c-spacer-1 {
    height: 1px
}
.c-spacer-2 {
    height: 2px
}
.c-spacer-3 {
    height: 3px
}
.c-spacer-4 {
    height: 4px
}
.c-spacer-5 {
    height: 5px
}
.c-spacer-10 {
    height: 10px
}
.c-spacer-15 {
    height: 15px
}
.c-spacer-20 {
    height: 20px
}
.c-spacer-30 {
    height: 30px
}
.c-spacer-40 {
    height: 40px
}
.c-spacer-50 {
    height: 50px
}
.c-spacer-60 {
    height: 60px
}
.c-spacer-70 {
    height: 70px
}
.c-spacer-80 {
    height: 80px
}
.c-spacer-90 {
    height: 90px
}
.c-spacer-100 {
    height: 100px
}



.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form input[type="password"], .wpcf7-form textarea, .wpcf7-form select {
    width: 100%;
    margin-top: 5px;
}